name: Deploy to Server

on:
  push:
    branches:
      - main  # Trigger when main branch is updated

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy files to server
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "."        # Copies entire repo
          target: "/var/www/website/RewardPointsTracker"
          script: |
            cd /var/www/website/RewardPointsTracker
            npm install
            npm run build
            pm2 restart RewardPointsTracker || pm2 start npm --name "RewardPointsTracker" -- run start
